@model RatingApp.Models.Rating

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Value" class="control-label"></label>
        <select asp-for="Value" class="form-control">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Subject" class="control-label"></label>
        <select asp-for="Subject" class="form-control">
            <option value="Matematyka">Matematyka</option>
            <option value="Fizyka">Fizyka</option>
            <option value="Informatyka">Informatyka</option>
            <option value="Literatura">Literatura</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="StudentId" class="control-label"></label>
        <input asp-for="StudentId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StudentName" class="control-label"></label>
        <input asp-for="StudentName" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
